/* .App-header {
  min-height: 100vh;
  color: white;
}

header, footer {
  background-color: #374153;
  text-align: center;
  color: white;
  padding: 10px 0;
}

header {
  margin-bottom: 50px;
  font-size: 28px;
}

footer {
  margin-top: 50px;
  font-size: 14px;
}

.card {
  margin: 10px 0;
}

a, a:hover {
  color: #282c34;
  text-decoration: none;
}

video {
  width: 100%;
  height: 50vh;
}

img {
  height: 200px;
  object-fit: cover;
  object-position: center top;
}

p {
  margin-bottom: 5px;
  font-size: 16px;
}

h1 {
  color: white;
} */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.one-edge-shadow {
  -webkit-box-shadow: 0 3px 20px -4px gray;
     -moz-box-shadow: 0 3px 20px -4px gray;
          box-shadow: 0 3px 20px -4px gray;
}