body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}
@media print {
  html, body {
     display: none;  /* hide whole page */
  }
}

video::-internal-media-controls-download-button {
  display:none !important;
}

video::-webkit-media-controls-enclosure {
  overflow:hidden !important;
}

video::-webkit-media-controls-panel {
  width: calc(100% + 30px) !important; /* Adjust as needed */
}